*{
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: blue;
    padding: 30px;
    text-align: center;
    font-size: 35px; 
    color: white;
}
a:hover {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline overline;
    color: #000000;
}
a {
    color: #000000;
}
p {
    color: yellow;
    font-family: arial;
    font-size: 35pt;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
}
p.one {
    color: white;
    font-family: arial;
    font-size: 20pt;
    text-align: left;
    margin-top: 0;
}

nav {
    float: left;
    width: 30%;
    height: 550px;
    background: white;
    padding: 20px;
    border-style: dashed;
    color: grey;
    margin-top: 7pt;
    margin-bottom: 7pt;
}

nav ul {
    list-style-type: none;
    padding: 0;
    font-family: arial;
    font-size: 20px;
}
article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: white;
    height: 550px;
}
h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
img {
    margin-bottom: 0;
}
p.two {
    color: black;
    font-family: arial;
    font-size: 20pt;
    text-align: center;
    margin-bottom: 20pt;
}
p.three {
    color: red;
    font-family: arial;
    font-size: 15pt;
    text-align: center;
}
section::after {
    content: " ";
    display: table;
    clear: both;
}
footer {
    background-color: rgb(157, 203, 250);
    padding: 20px;
    text-align: right;
    color: black;
}
p.four {
    color: black;
    font-family: arial;
    font-size: 12pt;
    text-align: right;
}
